<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<ul>
  <% @tasks.each do |task| %>
  <input type="checkbox">
  <label> <%= link_to task.title, task_path(task.id) %></label><br>
  <% end %>
</ul>
<br>
<%= link_to new_task_path do %>
  <span><i data-feather="plus"></i>Add new task</span>
<% end %>
